<!DOCTYPE html>
<html>
  <title>{{#info}}{{title}}{{/info}}</title>

  <xmp theme="united" style="display:none;">
{{>markdown}}
  </xmp>

  <script src="strapdownjs/0.2/strapdown.js"></script>
</html>